.search_form {
  padding: 1rem;
  margin: 5rem 0 2rem;
}

.user_list {
  padding: .5rem;
}

.user_list > li {
  margin: 1rem 0;
}

.result_msg {
  margin: 0 1rem;
  text-align: right;
  color: var(--text-level-2);
}

.profile_wrap {
  display: flex;
  gap: 2rem;
  padding: 1rem 1rem 0;
  text-align: left;
}

.profile_wrap img {
  width: 6.4rem !important;
  height: 6.4rem !important;
  border-radius: 50%;
}
